@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}
body .container{
    background-color: #ffffff;
    padding: 16px;
    width: 516px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
#bia-pensa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
}
#bia-pensa h1{    
    font-size: 48px;
}
.input-palp{
    text-align: center;
}
.input-palp input{
    margin-bottom: 26px;
    width: 55px;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    border-color: #DE5540;
}
.input-palp input:focus{
    border-color: #DE5540;
    outline: none;
}
.palpites{
    text-align: center;
}
.palpites h3{
    margin-top: 20px;
    
}
#lista-palp, span{
    color: #f1a115;
}
.palpites p{
    font-size: 18px;
}
button{
    background-color: #DE5540;
    border: none;
    margin: 8px;
    padding: 8px 16px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}