@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}
body{
    height: 100vh;
    background-color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}
body div#container{
    background-color: #ffffff;
    padding: 16px;
    width: 516px;
    border-radius: 5px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.15);
}
#container span{
    color: #ffb431;
}
#bia-pensa{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 34px;
}
#bia-pensa h1{    
    font-size: 48px;
}
#resultado{
    text-align: center;
}
#resultado button{
    background-color: #ffffff;
    border: none;
}
#resultado input{
    margin-bottom: 26px;
    width: 55px;
    text-align: center;
    padding: 10px;
    font-size: 26px;
    border-color: #DE5540;
}
#resultado input:focus{
    border-color: #DE5540;
    outline: none;
}
#resultado p{
    font-size: 18px;
}
#resultado p:nth-child(3){
    color: #ffb431;
}